<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog Post</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Create New Post</h1>
    <form action="/create" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" required>

        <label for="name">Name:</label>
        <input type="text" name="name" required>

        <label for="userEmail">Email Address:</label>
        <input type="email" name="userEmail" required>

        <label for="content">Content:</label>
        <textarea name="content" required></textarea>

        <button type="submit">Create Post</button>
    </form>
</body>

</html>